main {
  width: 500px;
  margin: 0 auto;
}

#btn {
  background-color: black;
  padding: 4px 16px;
  margin: 0;
  outline: none;
  border: none;
  display: inline-block;
}

hr {
  margin: 16px auto;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  main {
    width: 80%;
    margin: 0 auto;
  }
}
